# 密钥配置
ANTHROPIC_BASE_URL=your_base_url
ANTHROPIC_API_KEY=your_api_key_here
MODEL_ID=your_model_id_here

# 经过多少轮触发提醒
REMINDER_INTERVAL=3

#### 持久化工具执行结果配置 ####
#工具结果信息上限，单位字符
PERSIST_THRESHOLD=30000
# 超过上限后数据存储位置
TOOL_RESULTS_DIR=.compact/tool-outputs
# 截取前多少字符作为预览
PREVIEW_CHARS=2000
# 设置上限，超过触发工具结果压缩从0至倒数第KEEP_RECENT_TOOL_RESULTS条工具返回的结果
KEEP_RECENT_TOOL_RESULTS=3

#### 持久化历史对话配置 ####
# 上下文上限，超出触发历史对话压缩
CONTEXT_LIMIT=50000
# 历史对话存储目录
TRANSCRIPT_DIR=.compact/transcripts